* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
}

/* Подзаголовок страницы */
.heading {
    position: relative;
    height: 140px;
    background: no-repeat, linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/bg_image_lk.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

.heading_title {
    padding-top: 26px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 54px;
}

/* Основная часть сайта */
.title_wrapper_lk {
    width: 1315px;
    margin: 56px auto 19px auto;
    padding-left: 28px;
    font-size: 21px;
}

.wrapper_lk {
    width: 1315px;
    margin: 0 auto;
    margin-bottom: 39px;
}

.wrapper_lk_office {
    display: flex;
}

.first_nav_lk {
    width: 270px;
    /*padding: 10px 33px 8px 28px;*/
    border: 1px solid #c8c8c8;
    background-color: #fff;
    border-radius: 10px;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link_nav_lk {
    padding: 8px 33px 8px 28px;
    border-radius: 10px;
}

.link_nav_lk:first-child {
    margin-top: 10px;
}

.link_nav_lk:last-child {
    margin-bottom: 10px;
}

.active .link_lk {
    color: #11927c;
}

.line_nav_lk {
    border: 1px solid #c8c8c8;
}

.link_lk{
    text-decoration: none;
    color: #343434;
    font-size: 21px;
}

.second_nav_lk {
    width: 270px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    height: 77px;
    margin-top: 8px;
}

.second_nav_lk h1{
    margin: 0;
    font-size: 25px;
    color: #11927c;
}

.second_nav_lk a{
    font-size: 15px;
    color: #c8c8c8;
}

.lk_info {
    width: 100%;
    border: 1px solid #c8c8c8;
    border-radius: 10px;
    margin: 0 20px;
    background-color: #FFFFFF;
}

.block_lk_info {
    padding: 26px 42px 30px 35px;
    display: flex;
}

.left_block_lk h1{
    font-size: 26px;
    color: #343434;
    font-weight: 400;
    margin-bottom: 29px;
}

.box-input {
    position: relative;
}

.box-input input {
    border: none;
    border-bottom: 2px solid #e9eaea;
    padding: 10px 0;
}

.box-input label{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    color: gray;
    transition: .5s;
    pointer-events: none;
}

.box-input input:focus ~ label,
.box-input input:valid ~ label {
    top: -25px;
    font-size: 12px;
}

.input_form {
    font-size: 16px;
    border: 2px solid #e9eaea;
    padding: 12px 14px;
    box-sizing: border-box;
    margin-bottom: 22px;
    color: #11927c;
    outline: none;
    width: 318px;
}

.password_btn{
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 15px;
}

.password_btn.active::after{
    opacity: 0;
}

.password_btn::after{
    position: absolute;
    content: '';
    top: 6px;
    right: -4px;
    width: 30px;
    height: 3px;
    background: #226262;
    transform: rotate(45deg);
    transition: .3s all ease;
    opacity: 1;
}


.button_mid_block button{
    padding: 5px 0;
    text-align: center;
    background-color: #11927C;
    color: #FFFFFF;
    outline: none;
    width: 177px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.right_block_lk{
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading_links {
    display: none;
    margin: 0 auto;
    justify-content: space-between;
    width: 486px;
    padding-top: 3px;
}

.block_links_mobile{
    display: none;
}

@media (max-width: 1360px) {
    .heading {
        background: no-repeat, linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/bg_image_lk.jpg");
        background-size: auto;
        background-position: center;
        z-index: 1;
    }
    .lk_info {
        border: 1px solid #c8c8c8;
        border-radius: 10px;
        margin: 0 10px 0 10px;
        background-color: #FFFFFF;
    }
    .nav_lk {
        display: none;
    }
    .title_wrapper_lk {
        width: 100%;
    }
    .wrapper_lk {
        width: 100%;
    }
    .heading_title {
        padding-top: 26px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 54px;
    }
    .heading_links {
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        width: 100%;
        padding: 3px 200px 0 200px;
    }
    .heading_links_text {
        display: block;
        font-size: 17px;
        font-weight: bold;
        color: white;
    }
    .heading_links_text_active {
        display: block;
        font-size: 17px;
        font-weight: bold;
        color: #11927C;
    }
    .right_block_lk{
        display: block;
        width: 226px;
    }
    .block_lk_info {
        justify-content: space-around;
    }
    .right_block_lk img{
        height: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    /* 100% PL - 50PX PR - 50PX  */
    .heading_links {
        padding: 3px 70px 0 70px;
    }

    .heading_links_text {
        font-size: 16px;
    }

    .heading_links_text_active {
        font-size: 16px;
    }
    .title_wrapper_lk {
        margin: 19px auto 19px auto;
    }
}

@media only screen and (max-width: 770px) {
    /* 100% px PL - 25PX PR - 25PX */
    .heading_links_text.links {
        display: none;
    }

    .heading_links_text_active.links {
        display: none;
    }

    .heading_links_text {
        font-size: 13px;
        margin: 0 10px;
    }

    .heading_links_text_mobile.active{
        color: #FFFFFF;
        font-size: 18px;
    }

    .block_links_mobile{
        display: flex;
        flex-direction: column;
        padding: 10px 0 10px 60px;
        order: 2;
        border-radius: 10px;
        border: 1px solid #C8C8C8;
        background-color: #C8C8C8;
        margin: 30px 0 10px 0;
    }

    .heading_links_text_mobile{
        font-size: 20px;
        color: #226262;
        padding: 5px 0;
    }

    .heading_title {
        padding-top: 10px;
        font-size: 40px;
    }

    .heading_links {
        padding: 3px 30px 10px 30px;
        justify-content: center;
    }

    .heading_links_text {
        font-size: 13px;
    }

    .heading_links_text_active {
        font-size: 13px;
    }

    .heading {
        height: 100%;
    }

    .block_lk_info{
        flex-direction: column;
    }

    .right_block_lk{
        order: 1;
        text-align: center;
        width: 100%;
    }

    .left_block_lk {
        margin-top: 10px;
        order: 2;
    }

    .input_form{
        width: 100%;
    }

    .button_mid_block button {
        text-decoration: none;
        background-color: #11927c;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        line-height: 46px;
        height: 50px;
        width: 100%;
        border-radius: 10px;
        padding: 0 10px;
    }

    .right_block_lk {
        height: 205px;
    }
}

@media only screen and (max-width: 600px) {
    /* 100% px PL - 25PX PR - 25PX */
    .block_lk_info {
        padding: 26px 25px 30px 25px;
        display: flex;
    }

    .block_links_mobile {
        align-items: center;
        margin: 50px 0 0 0;
        padding: 10px 0;
    }

    .heading_links {
        flex-direction: column;
        align-items: center;
    }

    .heading_links a {
        padding: 3px 0;
    }

    .heading_links_text {
        font-size: 15px;
    }

    .heading_links_text_active {
        font-size: 15px;
    }

    .heading_title {
        font-size: 31px;
    }

    .title_wrapper_lk {
        text-align: center;
        padding-left: 0;
        margin: 19px auto 19px auto;
        font-weight: bold;
    }
    .right_block_lk {
        height: 170px;
    }
}