* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
}

a {
    color: #343434;
}

.heading {
    position: relative;
    height: 140px;
    background: no-repeat, linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/bg_image_lk.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

.heading_title {
    padding-top: 26px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 54px;
}

.heading_links {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 486px;
    padding-top: 4px;
}

.heading_links_text {
    display: block;
    font-size: 19px;
    font-weight: bold;
    color: white;
}

.heading_links_text_active {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #11927C;
}

.news_background {
    background-color: #ececec;
}

.news_container {
    padding-top: 18px;
    padding-bottom: 106px;
    margin: 0 auto;
    width: 1315px;
}

.news_card {
    margin-top: 16px;
    display: flex;
    background-color: white;
    border-radius: 8px;
}

.news_card_image img {
    object-fit: cover;
    height: 415px;
    width: 380px;
    border-radius: 8px;
}

.card_right_tags {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    margin-top: 28px;
    flex-wrap: wrap;
    grid-gap: 10px;
}
.card_right_tags_two{
    display: none;
}

.card_tag {
    color: white;
    width: 118px;
    height: 37px;
    background-color: #11927C;
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    border-radius: 8px;
}

.card_right_date {
    padding-left: 16px;
    padding-top: 23px;
    font-size: 16px;
    color: #343434;
}

.card_right_title {
    padding-top: 9px;
    padding-left: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #343434;
    text-transform: uppercase;
}

.card_right_description {
    font-size: 24px;
    padding-left: 16px;
    padding-top: 15px;
}

.card_right_line {
    margin-left: 16px;
    margin-top: 23px;
    background-color: #C2C2C2;
    height: 1px;
    width: 880px;
}

.card_pagination {
    display: flex;
    width: 241px;
    height: 34px;
    margin: 0 auto;
    margin-top: 67px;
    align-items: center;
    justify-content: space-between;
}

.card_pagination_number {
    width: 34px;
    height: 34px;
    background-color: #FFFFFF;
    padding-top: 9px;
    color: #226262;
    text-align: center;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.card_pagination_dots {
    font-size: 20px;
    font-weight: bold;
    color: #11927C;
}

@media (max-width: 1670px) {
    .heading {
        background: no-repeat, linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/bg_image_lk.jpg");
        background-size: auto;
        background-position: center;
        z-index: 1;
    }
    .news_container {
        width: 1150px;
    }

    .news_card_image img {
        height: 361px;
        width: 330px;
    }
    .card_right_description {
        font-size: 21px;
        padding-left: 14px;
        padding-top: 13px;
        text-overflow: ellipsis;
    }
    .card_right_tags {
        margin-top: 24px;
    }

    .card_tag {
        width: 102px;
        height: 32px;
        font-size: 14px;
        padding-top: 6px;
    }
    .news_card_right{
        width: 820px;
    }
    .card_right_line {
        margin-left: 14px;
        margin-top: 25px;
        background-color: #C2C2C2;
        height: 1px;
        width: 765px;
    }
    .card_right_date {
        padding-left: 14px;
        padding-top: 20px;
        font-size: 14px;
    }

    .card_right_title {
        padding-top: 8px;
        padding-left: 14px;
        font-size: 21px;
    }

}
@media (max-width: 1360px) {
    .news_container {
        width: 1000px;
    }

    .news_card_image img {
        height: 314px;
        width: 287px;
    }
    .card_right_description {
        font-size: 18px;
        padding-left: 12px;
        padding-top: 11px;
        text-overflow: ellipsis;
    }
    .card_right_tags {
        margin-top: 21px;
    }

    .card_tag {
        width: 88px;
        height: 28px;
        font-size: 12px;
        padding-top: 5px;
    }
    .news_card_right{
        width: 713px;
    }
    .card_right_line {
        margin-left: 12px;
        margin-top: 25px;
        background-color: #C2C2C2;
        height: 1px;
        width: 665px;
    }
    .card_right_date {
        padding-left: 12px;
        padding-top: 17px;
        font-size: 12px;
    }

    .card_right_title {
        padding-top: 7px;
        padding-left: 12px;
        font-size: 18px;
    }
    .card_pagination {
        margin-top: 50px;
    }
}
@media (max-width: 1100px) {
    .news_container {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
    .news_card_image img {
        height: 314px;
        width: 288px;
    }
    .card_right_description {
        font-size: 18px;
        padding-left: 14px;
        padding-right: 15px;
        padding-top: 13px;
        padding-bottom: 20px;
    }
    .card_right_tags {
        display: none;
        margin-top: 21px;
    }
    .card_right_tags_two{
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
    }
    .card_tag {
        width: 82px;
        height: 26px;
        font-size: 11px;
        padding-top: 5px;
    }
    .news_card_right{
        width: 100%;
    }
    .card_right_line {
        display: none;
        margin-left: 14px;
        margin-top: 25px;
        background-color: #C2C2C2;
        height: 1px;
        width: 95%;
        margin-bottom: 20px;
    }
    .card_right_date {
        padding-left: 14px;
        padding-top: 20px;
        font-size: 14px;
    }

    .card_right_title {
        padding-top: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 21px;
    }
    .news_card {
        display: flex;
    }
    .card_pagination {
        margin-top: 45px;
    }
}
@media (max-width: 700px) {
    .news_container {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 30px;
    }
    .card_right_tags_two{
        display: none;
    }
    .news_card_image img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .card_right_title {
        padding-top: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 17px;
    }
    .news_card {
        display: block;
        padding-bottom: 17px;
    }
    .card_right_description {
        font-size: 16px;
        max-height: 175px;
        overflow: hidden;
    }
    .card_pagination {
        margin-top: 40px;
    }
}
@media (max-width: 400px) {
    .news_container {
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        padding-bottom: 30px;
    }
    .news_card_image img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
    .card_right_title {
        padding-top: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-size: 15px;
    }
    .card_right_description {
        font-size: 14px;
        max-height: 85px;
        overflow: hidden;
    }
    .news_card{
        padding-bottom: 17px;
    }
    .card_pagination {
        margin-top: 35px;
    }
}
